body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

  .icon {
    width: 100px;
    padding: 5px;
  }
  
  header {
    flex: 0 50px;
    font: arial;
    font-size: 20px;
    background: rgb(0,110,51);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  footer {
    flex: 0 50px;
    background: rgb(0,110,51);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  .nav-link {
    padding: 0 0.3em;
    text-decoration: none;
  }

  .nav-link:hover {
    background: #005427;
    color: #fff;
    border-radius: 5px;
  }

  .login-box {
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0,110,51);
    color: white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0,0,0,.6);
    border-radius: 10px;
  }
  
  footer a {
    float: right;
    color: white;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

  .about-para {
    padding: 15px;
    text-align: center;
    font-size: large;
  }

  @media (orientation: portrait) {
    header {
      display: inline;
    }
    header img {
      display: none;
    }

    header h1 {
      display: none;
    }
  }